:root {
  --blue: rgb(1, 136, 202);
  --bg-blue: rgba(1, 136, 202, 0.4);
  --purp: rgb(89, 94, 171);
  --bg-purp: rgba(89, 94, 171, 0.8);
  --orang: rgb(142, 99, 130);
  --white: rgb(255, 255, 255);
  --light-bg: #1b2735 0%;
  --dark-bg: #090a0f 100%;
}

body {
  background-image: linear-gradient(
      to top right,
      var(--bg-purp),
      var(--bg-blue),
      var(--white),
      var(--orang)
    ),
    url("img/YEP.png");
}

body.dark-theme {
  background-image: radial-gradient(
      ellipse at bottom,
      var(--light-bg),
      var(--dark-bg)
    ),
    url("img/YEP.png");
}

.darkmode {
  position: absolute;
  top: 6vh;
  left: 50vw;
  background-color: cyan;
  transition: 0.4s;
}

.darkmode.light {
  background-color: darkblue;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: radial-gradient(
        ellipse at bottom,
        var(--light-bg),
        var(--dark-bg)
      ),
      url("img/YEP.png");
  }
  .loader,
  .menu {
    background-image: radial-gradient(
      ellipse at bottom,
      var(--light-bg),
      var(--dark-bg)
    );
  }

  .menu.light,
  .loader.light {
    background-image: linear-gradient(
      to top right,
      var(--bg-purp),
      var(--bg-blue),
      var(--white),
      var(--orang)
    );
  }
  body.light-theme {
    background-image: linear-gradient(
        to top right,
        var(--bg-purp),
        var(--bg-blue),
        var(--white),
        var(--orang)
      ),
      url("img/YEP.png");
  }
}
