#whenSignedOut.hidden {
  display: none;
}

#whenSignedIn.hidden {
  display: none;
}

#whenSignedOut.not-hidden {
  display: block;
  float: left;
  clear: left;
}

#whenSignedIn.not-hidden {
  display: block;
  float: left;
  clear: left;
}

.dropdown-item {
  width: 20vw;
  opacity: 0;
  z-index: 0;
  background: var(--orang);
  border-top: 3px solid var(--purp);

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  display: block;
  overflow-y: auto;
  overflow-x: hidden;

  margin-left: 10rem;
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  transform: translateX(-40%);

  transition: opacity 500ms;
}

.dropdown-item.active {
  z-index: 100;
  opacity: 1;
}

.dropdown-item span {
  display: block;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  transition: 500ms ease-in-out;
}

.dropdown-item span:not(:first-child):hover {
  transition: 300ms ease-in;
  color: var(--blue);
}

.dropdown-item span:last-of-type:hover {
  transition: 300ms ease-in;
  color: red;
}

.user-img {
  width: 3rem;
  cursor: pointer;
  border-radius: 50px;
}

.user-img:hover {
  transform: scale(1.04);
  transition: 300ms;
  filter: hue-rotate(10deg);
}

.name {
  margin: 0;
  font-size: 36px;
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  color: white;
  cursor: default;
}

.signOut {
  font-size: 32px;
}

.dropdown-item span:not(:first-child)::before {
  content: "»   ";
  font-size: 24px;
  opacity: 0;
  margin-left: -40px;
  transition: 0.7s;
}

.dropdown-item span:last-of-type::before {
  content: "»   ";
  font-size: 32px;
  opacity: 0;
  margin-left: -60px;
  transition: 0.5s;
}

.dropdown-item span:not(:first-child):hover {
  padding-right: 8px;
  padding-left: 18px;
}

.dropdown-item span:not(:first-child):hover::before {
  opacity: 1;
  margin-left: 1rem;
}

.google-logo {
  width: 1.2rem;
}
