#toggle_checkbox {
  display: none;
}

label {
  display: block;
  width: 7em;
  height: 3em;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.4s ease background-color;
  overflow: hidden;
  user-select: none;
}

#star {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 30px;
  height: 30px;
  background-color: var(--blue);
  transform: scale(1);
  border-radius: 50%;
  transition: 0.5s ease top, 0.5s ease left, 0.4s ease transform,
    0.4s ease background-color;
  z-index: 1;
}

.star {
  position: relative;
  top: 0;
  left: -7px;
  font-size: 54px;
  line-height: 28px;
  color: var(--blue);
  transition: 0.4s ease color;
}

#moon {
  position: absolute;
  bottom: -52px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s ease bottom;
}

#moon:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -17px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.6s ease background-color;
}

#toggle_checkbox:checked + label {
  background-image: radial-gradient(var(--light-bg) 10%, var(--dark-bg) 100%);
}

#toggle_checkbox:checked + label #star {
  top: 8px;
  left: 89px;
  transform: scale(0.4);
  background-color: var(--blue);
}

#toggle_checkbox:checked + label #moon {
  bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before {
  background-image: radial-gradient(var(--light-bg) 10%, var(--dark-bg) 100%);
}
