:root {
  --blue: rgb(1, 136, 202);
  --bg-blue: rgba(1, 136, 202, 0.4);
  --purp: rgb(89, 94, 171);
  --bg-purp: rgba(89, 94, 171, 0.8);
  --orang: rgb(142, 99, 130);
  --bg-orang: rgb(142, 99, 130, 0.5);
  --white: rgb(255, 255, 255);
  --light-bg: rgba(27, 39, 53, 0.9);
  --dark-bg: rgba(9, 10, 15, 0.9);
}

body {
  background-image: linear-gradient(
      to top right,
      var(--bg-purp),
      var(--bg-blue),
      var(--white),
      var(--bg-orang)
    ),
    url("img/YEP.png");
}

body.dark-theme {
  background-image: radial-gradient(
      ellipse at bottom,
      var(--light-bg),
      var(--dark-bg)
    ),
    url("img/YEP.png");
  transition: background 500ms;
}

.darkmode {
  content: "🌙";
  background-color: var(--blue);
  transition: 0.4s;
}

.darkmode.light {
  content: "🌟";
  background-color: var(--bg-purp);
  color: white;
  transition: 500ms;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: radial-gradient(
        ellipse at bottom,
        var(--light-bg),
        var(--dark-bg)
      ),
      url("img/YEP.png");
  }
  .loader {
    background-image: radial-gradient(
      ellipse at bottom,
      var(--light-bg),
      var(--dark-bg)
    );
  }

  .loader.light {
    background-image: linear-gradient(
      to top right,
      var(--bg-purp),
      var(--bg-blue),
      var(--white),
      var(--bg-orang)
    );
  }
  body.light-theme {
    background-image: linear-gradient(
        to top right,
        var(--bg-purp),
        var(--bg-blue),
        var(--white),
        var(--bg-orang)
      ),
      url("img/YEP.png");
  }
}
