#whenSignedOut.hidden {
  display: none;
}

#whenSignedIn.hidden {
  display: none;
}

#whenSignedOut.not-hidden {
  display: block;
}

#whenSignedIn.not-hidden {
  display: block;
}

.name {
  color: white;
}
