* {
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("fonts/KabrioAbarth-Regular.woff2") format("woff2"),
    url("fonts/KabrioAbarth-Regular.woff") format("woff");
}

.main {
  animation: main 8s forwards ease-in;
}

body,
html {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  min-width: 3rem;
  min-height: 2rem;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 400ms;
  transition: 0.4s;
}

.scroll {
  overflow-y: auto;
  height: 40vh;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background-color: var(--orang);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purp);
  border-radius: 20px;
}
